/**
 *  CSS Helpers
 */

.hidden {
  display: none !important;
  visibility: hidden;
}

.hidden--visible-to-readers {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}

.hidden--visible-to-readers.focusable:active,
.hidden--visible-to-readers.focusable:focus {
  clip: auto;
  height: auto;
  margin: 0;
  overflow: visible;
  position: static;
  width: auto;
}

.hidden--keep-layout {
  visibility: hidden;
}

.clearfix::after {
  content: "";
  display: block;
  clear: both;
}
